h1
{
    color:black;
    text-shadow: 2px 2px black;
}
footer
{
    text-align: center;
    clear: both;
    font-size:.8em;
    padding-top: 10px;
}
footer img
{
    clear: both;
    display: block;
    margin: 0px auto;
}